@font-face {
  font-display: swap;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sen-v9-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v13-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Inter";
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  background-color: #232536;
  z-index: 10;
}

.navbar {
  height: 80px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar_items {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 24px;
}
.navbar_items-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.navbar_items-link::before {
  position: absolute;
  content: "";
  width: 0;
  left: auto;
  top: 0;
  height: 3px;
  transition: all 0.3s ease;
  background-color: #FFD050;
}
.navbar_items-link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  transition: all 0.3s ease;
  background-color: rgba(255, 208, 80, 0.1019607843);
}
.navbar_items-link:hover {
  color: #FFD050;
}
.navbar_items-link:hover::before {
  width: 100%;
}
.navbar_items-link:hover::after {
  width: 100%;
}
.navbar_items-login {
  border: none;
  font-size: 16px;
  color: #232536;
  font-weight: 700;
  line-height: 24px;
  padding: 14px 48px;
  transition: all 0.3s ease;
  background-color: #fff;
}
.navbar_items-login:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1019607843);
}
.navbar .burger_menu {
  display: none;
}

.navbar-shrink {
  box-shadow: 0 0 15px 5px #232536;
}
.navbar-shrink .navbar {
  height: 66px;
}

@media screen and (max-width: 768px) {
  .navbar_items {
    position: absolute;
    height: auto;
    width: 200px;
    top: 100%;
    right: 0;
    padding: 20px;
    flex-direction: column;
    transition: all 0.4s ease;
    background-color: #232536;
    transform: translateX(100%);
    gap: 0;
  }
  .navbar_items-link {
    width: 100%;
    padding: 10px 0;
  }
  .navbar_items-link::before {
    transition: all 0.1s ease;
  }
  .navbar_items-link::after {
    transition: all 0.1s ease;
  }
  .navbar_items-login {
    width: 100%;
  }
  .navbar .burger_menu {
    position: relative;
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    justify-content: space-around;
  }
  .navbar .burger_menu span {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.4s ease;
  }
  .navbar_menu .navbar_items {
    transform: translate(0);
  }
  .navbar_menu .navbar .burger_menu {
    transform: rotate(-180deg);
  }
  .navbar_menu .navbar .burger_menu span {
    position: absolute;
  }
  .navbar_menu .navbar .burger_menu__top {
    transform: rotate(-135deg);
  }
  .navbar_menu .navbar .burger_menu__center {
    transform: rotate(-135deg);
  }
  .navbar_menu .navbar .burger_menu__bottom {
    transform: rotate(135deg);
  }
}
.regis {
  padding: 160px 0 70px 0;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register form {
  max-width: 768px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.register form h1 {
  font-size: 48px;
  color: #232536;
  line-height: 64px;
  font-family: "Sen";
  padding-bottom: 40px;
  letter-spacing: -2px;
}
.register form label {
  width: 100%;
}
.register form label input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
}
.register form a {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  color: #232536;
  font-weight: 700;
  transition: 0.3s;
  line-height: 32px;
  border-radius: 2px;
  text-align: center;
  background-color: #FFD050;
}
.register form a:hover {
  background-color: rgba(128, 128, 128, 0.1019607843);
}

.log-in {
  padding: 170px 0 70px 0;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login form {
  max-width: 768px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.login form h1 {
  font-size: 48px;
  color: #232536;
  line-height: 64px;
  font-family: "Sen";
  padding-bottom: 40px;
  letter-spacing: -2px;
}
.login form label {
  width: 100%;
}
.login form label input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  line-height: 27px;
  border-radius: 2px;
  border: 1px solid rgba(109, 110, 118, 0.5);
}
.login form a {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  color: #232536;
  font-weight: 700;
  transition: 0.3s;
  line-height: 32px;
  border-radius: 2px;
  text-align: center;
  background-color: #FFD050;
}
.login form a:hover {
  background-color: rgba(128, 128, 128, 0.1019607843);
}

.home {
  padding-top: 60px;
}
.home .hero_bg {
  padding: 138px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/hero.jpg);
}
.home .hero h4 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
.home .hero h4 span {
  font-weight: 900;
}
.home .hero h1 {
  font-size: 56px;
  line-height: 64px;
  max-width: 803px;
  font-family: "Sen";
  letter-spacing: -2px;
  padding: 24px 0;
  color: #fff;
}
.home .hero p {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  max-width: 599px;
  padding-bottom: 16px;
}
.home .hero p span {
  color: #FFD050;
}
.home .hero button {
  margin-top: 32px;
}
.home_two {
  padding: 66px 0;
}

.all-posts {
  padding: 140px 0 72px 0;
}
.all-posts form {
  width: 100%;
  display: flex;
  margin-bottom: 60px;
  flex-direction: column;
  border-bottom: 1px solid #6D6E76;
  gap: 54px;
}
.all-posts form label {
  width: 100%;
}
.all-posts form label input {
  width: 100%;
  padding: 24px;
  font-size: 18px;
  border-radius: 2px;
  border: 1px solid #6D6E76;
}
.all-posts form h1 {
  font-size: 48px;
  color: #232536;
  line-height: 64px;
  font-family: "Sen";
  padding-bottom: 32px;
}
.all-posts .posts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 64px;
}
.all-posts .posts .post {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.all-posts .posts .post_img img {
  width: 547px;
  height: 318px;
}
.all-posts .posts .post_text {
  max-width: 670px;
}
.all-posts .posts .post_text span {
  font-size: 16px;
  color: #592EA9;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.all-posts .posts .post_text h2 {
  font-size: 36px;
  color: #232536;
  line-height: 48px;
  font-family: "Sen";
  padding: 20px 0 16px 0;
}
.all-posts .posts .post_text p {
  font-size: 16px;
  color: #6D6E76;
  line-height: 28px;
}
.all-posts .posts .post_text h3 {
  font-size: 24px;
  line-height: 32px;
  color: #232536;
  padding-top: 24px;
}

.cards {
  width: 100%;
}
.cards .card img {
  width: 100%;
}
.cards .card_text {
  margin: 0 auto;
  max-width: 840px;
  padding-top: 48px;
}
.cards .card_text h3 {
  color: #592EA9;
  font-size: 28px;
  line-height: 40px;
  font-family: "Sen";
  letter-spacing: -1px;
}
.cards .card_text span {
  color: #6D6E76;
  font-size: 16px;
  line-height: 28px;
}
.cards .card_text h1 {
  font-size: 48px;
  color: #232536;
  margin-top: 40px;
  line-height: 64px;
  font-family: "Sen";
}
.cards .card_text h4 {
  font-size: 24px;
  color: #232536;
  line-height: 32px;
  font-family: "Sen";
  margin: 32px 0 36px 0;
}
.cards .card_text p {
  font-size: 16px;
  color: #6D6E76;
  line-height: 28px;
  padding-top: 24px;
}

.about {
  padding: 120px 0 60px 0;
}
.about .text {
  padding: 84px;
  display: flex;
  align-items: flex-start;
  background-color: #F4F0F8;
  justify-content: space-between;
  gap: 54px;
}
.about .text_description {
  max-width: 520px;
}
.about .text_description span {
  font-size: 16px;
  font-weight: 600;
  color: #232536;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.about .text_description h3 {
  font-size: 28px;
  color: #232536;
  font-weight: 700;
  max-width: 450px;
  line-height: 40px;
  font-family: "Sen";
  letter-spacing: -1px;
  margin: 24px 0 16px 0;
}
.about .text_description p {
  font-size: 16px;
  color: #6D6E76;
  line-height: 28px;
}

@media screen and (max-width: 992px) {
  .about .text {
    flex-wrap: wrap;
  }
  .about .text_description {
    max-width: 800px;
  }
  .about .text_description h3 {
    max-width: 490px;
  }
}
@media screen and (max-width: 768px) {
  .about .text {
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  .about .text {
    padding: 20px;
  }
}
footer {
  background-color: #232536;
  padding: 52px 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_left p {
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.footer_icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer_icons a ion-icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  color: #fff;
  transition: 0.2s;
}
.footer_icons a ion-icon:hover {
  opacity: 1;
}

.btn {
  font-size: 18px;
  color: #232536;
  font-weight: 700;
  line-height: 24px;
  font-family: "Sen";
  padding: 16px 48px;
  border-radius: 2px;
  background: #FFD050;
  border: 1px solid #FFD050;
}
.btn:hover {
  border-color: transparent;
  background-color: rgba(128, 128, 128, 0.1019607843);
}

@media screen and (max-width: 768px) {
  .navbar_items {
    position: absolute;
    height: auto;
    width: 200px;
    top: 100%;
    right: 0;
    padding: 20px;
    flex-direction: column;
    transition: all 0.4s ease;
    background-color: #232536;
    transform: translateX(100%);
    gap: 0;
  }
  .navbar_items-link {
    width: 100%;
    padding: 10px 0;
  }
  .navbar_items-link::before {
    transition: all 0.1s ease;
  }
  .navbar_items-link::after {
    transition: all 0.1s ease;
  }
  .navbar_items-login {
    width: 100%;
  }
  .navbar .burger_menu {
    position: relative;
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.4s ease;
    justify-content: space-around;
  }
  .navbar .burger_menu span {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.4s ease;
  }
  .navbar_menu .navbar_items {
    transform: translate(0);
  }
  .navbar_menu .navbar .burger_menu {
    transform: rotate(-180deg);
  }
  .navbar_menu .navbar .burger_menu span {
    position: absolute;
  }
  .navbar_menu .navbar .burger_menu__top {
    transform: rotate(-135deg);
  }
  .navbar_menu .navbar .burger_menu__center {
    transform: rotate(-135deg);
  }
  .navbar_menu .navbar .burger_menu__bottom {
    transform: rotate(135deg);
  }
}
@media screen and (max-width: 480px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */