@font-face {
  font-display: swap;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sen-v9-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
}