.regis{
    padding: 160px 0 70px 0;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    form{
        max-width: 768px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        h1{
            font-size: 48px;
            color: $black-bg;
            line-height: 64px;
            font-family: $font;
            padding-bottom: 40px;
            letter-spacing: -2px;
        }
        input{
            width: 100%;
            padding: 20px;
            font-size: 18px;
            line-height: 27px;
            border-radius: 2px;
            border: 1px solid rgba(109, 110, 118, 0.50);
        }
        .btn{
            width: 100%;
            padding: 16px;
            font-size: 24px;
            line-height: 32px;
        }
    }
}